In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt                                    
import seaborn as sns                                              
%matplotlib inline
import pyodbc
from datetime import datetime
import scipy.stats as stats
import matplotlib.pyplot as plt
import pandas.io.sql
import xlwings as xw

In [2]:
import textwrap

In [3]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [4]:
connection_str="""DRIVER={ODBC Driver 17 for SQL Server};
                  SERVER=NB210628FEGDWPX\SQLEXPRESS;
                  Database=testDatabase;
                  UID=user1;
                  PWD=1234;
                  Trusted_Connection=yes;"""

In [5]:
conn = pyodbc.connect(connection_str)

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]MAX_PROVS: Error Locating Server/Instance Specified [xFFFFFFFF].  (-1) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (-1)')

In [ ]:
curser=conn.cursor()

In [ ]:
conn

In [72]:
df = pd.read_excel('C:/Users/guptamu/Desktop/Avinash_Planning_team/Final_IHRT.xlsx')

In [73]:
df.columns

Index(['Company ID', 'Country', 'Company Description', 'Pdt Code',
       'Pdt Description', 'Formula Code', 'WH code', 'Stock Unit',
       'Material Type Desc', 'Origin Region', 'Last 3m History_Stock',
       'Last 6m History ', 'Company Product 12m (UoM)', 'Last 3m History_USD',
       'Company Product 6m (USD)', 'Company Product 12m (USD)',
       'Cycle + Safety (Healthy) (StockUnit)2',
       'Cycle + Safety (Healthy) in USD2', 'Risk Status',
       'Risk / Non Productive in USD', '# Days of Inventoryonhand2',
       'Std Cost in USD', 'Qty On Hand (in Stock Unit)2',
       'Total Inv Value (USD)2', 'Overstock (StockUnit)2', 'Overstock in USD2',
       'Targeted DOH', 'System Data Source', 'Anticipatory in USD',
       'Anticipatory KGs in USD'],
      dtype='object')

In [74]:
curser.execute(""" CREATE TABLE [dbo].[Test_IHRT_01](
                                                    [Company ID] nvarchar(max),
                                                    [Country] nvarchar(max),
                                                    [Company Description] nvarchar(max),
                                                    [Pdt Code] nvarchar(max),
                                                    [Pdt Description] nvarchar(max),
                                                    [Formula Code] nvarchar(max),
                                                    [WH code] nvarchar(max),
                                                    [Stock Unit] nvarchar(max),
                                                    [Material Type Desc] nvarchar(max),
                                                    [Origin Region] nvarchar(max),
                                                    [Last 3m History_Stock] nvarchar(max),
                                                    [Last 6m History ] nvarchar(max),
                                                    [Company Product 12m (UoM)] nvarchar(max),
                                                    [Last 3m History_USD] nvarchar(max),
                                                    [Company Product 6m (USD)] nvarchar(max),
                                                    [Company Product 12m (USD)] nvarchar(max),
                                                    [Cycle + Safety (Healthy) (StockUnit)2]nvarchar(max),
                                                    [Cycle + Safety (Healthy) in USD2] nvarchar(max),
                                                    [Risk Status] nvarchar(max),
                                                    [Risk / Non Productive in USD] nvarchar(max),
                                                    [# Days of Inventoryonhand2] nvarchar(max),
                                                    [Std Cost in USD]nvarchar(max),
                                                    [Qty On Hand (in Stock Unit)2] nvarchar(max),
                                                    [Total Inv Value (USD)2] nvarchar(max),
                                                    [Overstock (StockUnit)2]nvarchar(max),
                                                    [Overstock in USD2] nvarchar(max),
                                                    [Targeted DOH] nvarchar(max),
                                                    [System Data Source] nvarchar(max),
                                                    [Anticipatory KGs in USD]nvarchar(max),
                                                    [Lastexecute]nvarchar(max)
                                                    )
                                                    """)

In [75]:
conn.commit()

In [76]:
df=df.fillna(0)

In [77]:
df.head()

,Company ID,Country,Company Description,Pdt Code,Pdt Description,Formula Code,WH code,Stock Unit,Material Type Desc,Origin Region,...,# Days of Inventoryonhand2,Std Cost in USD,Qty On Hand (in Stock Unit)2,Total Inv Value (USD)2,Overstock (StockUnit)2,Overstock in USD2,Targeted DOH,System Data Source,Anticipatory in USD,Anticipatory KGs in USD
0,ID10,INDONESIA,(blank),10/3 -100510,BENDUROL G-105 2/5 LTR,0,J67,CTN,0,Mfr,...,0,13.753903,0,0,0,0,30,Mvt History,0,0
1,ID10,INDONESIA,0,10/3 -100510,BENDUROL G-105 2/5 LTR,902726-Ecolab,B1,CTN,Finish Good,Mfr,...,53.20034,13.753903,19,257.905996,0.913043,11.979658,30,ACCPAC,0,0
2,ID10,INDONESIA,0,10/3 -100510,BENDUROL G-105 2/5 LTR,902726-Ecolab,J1,CTN,Finish Good,Mfr,...,100.046549,13.753903,141,1913.933974,62.26087,856.329995,30,ACCPAC,0,0
3,ID10,INDONESIA,0,10/3 -100510,BENDUROL G-105 2/5 LTR,902726-Ecolab,MK1,CTN,Finish Good,Mfr,...,56.694662,13.753903,10,135.574192,4.782609,65.779527,30,ACCPAC,0,0
4,ID10,INDONESIA,0,10/3 -100510,BENDUROL G-105 2/5 LTR,902726-Ecolab,NGP,CTN,Finish Good,Mfr,...,0,13.753903,17,230.476126,0,0,30,ACCPAC,0,0

In [78]:
data_value=df.values

In [79]:
len(data_value)

48086

In [80]:
for index, row in enumerate(data_value):
    
#     define an insert query with place holders for the values.
    insert_query = textwrap.dedent('''
        INSERT INTO dbo.Test_IHRT_01 ([Company ID]
                                          ,[Country]
                                          ,[Company Description]
                                          ,[Pdt Code]
                                          ,[Pdt Description]
                                          ,[Formula Code]
                                          ,[WH code]
                                          ,[Stock Unit]
                                          ,[Material Type Desc]
                                          ,[Origin Region]
                                          ,[Last 3m History_Stock]
                                          ,[Last 6m History ]
                                          ,[Company Product 12m (UoM)]
                                          ,[Last 3m History_USD]
                                          ,[Company Product 6m (USD)]
                                          ,[Company Product 12m (USD)]
                                          ,[Cycle + Safety (Healthy) (StockUnit)2]
                                          ,[Cycle + Safety (Healthy) in USD2]
                                          ,[Risk Status]
                                          ,[Risk / Non Productive in USD]
                                          ,[# Days of Inventoryonhand2]
                                          ,[Std Cost in USD]
                                          ,[Qty On Hand (in Stock Unit)2]
                                          ,[Total Inv Value (USD)2]
                                          ,[Overstock (StockUnit)2]
                                          ,[Overstock in USD2]
                                          ,[Targeted DOH]
                                          ,[System Data Source]
                                          ,[Anticipatory KGs in USD]
                                          ,[Lastexecute]) 
        VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);
    ''')
    
    # define the values
    values = (row[0], row[1], row[2], row[3], row[4], row[5],row[6], row[7], row[8], row[9], row[10], row[11],row[12], row[13], row[14], row[15], row[16], row[17],row[18], row[19], row[20], row[21], row[22], row[23],row[24], row[25], row[26], row[27], row[28], row[29])
#     print(len(values))
    # insert the data into the database
    curser.execute(insert_query, values)

In [81]:
conn.commit()